body {
    background-color: var(--dark-gray);
}

:root {
    --dark-gray: #313131;
    --white: #f5e6c8;
    --gray: #202020;
    --hover: rgba(31, 31, 31, 0.527);
    --background1: var(--font);
    --background2: #2b2b2b;
    --iconColor: #616161;
    --font: #5e5e5e;
    --purple: #c134dd;
    --blue: #2b8ecf;
    --orange:#fd8945;
    --themeColor: #00d062;
    --yellow:#ffd843;
    --red:  #ff4c4c;
    --green: #00d062;
}

.fa-solid {
    scale: 2;
    color: var(--iconColor);
}

.fa-play:hover, .fa-gear:hover, .fa-rotate-left:hover {
    color: var(--white);
}

#main-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#list-container {
    background-color: var(--background2);
    height:auto;
    min-height: 400px;
    width: 500px;
    border-radius: 25px;
    padding-top: 15px;
}


li {
    color: var(--white);
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    margin: 20px;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}

#addItemInput {
    font-size: 25px;
    border: none;
    border-radius: 7.5px;
    background-color: transparent;
    color: var(--white);
    width: 375px;
    padding: 0px !important;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 15px;
}

input:focus {
    outline:none !important;
}


#wave {
    scale: 2.5;
    color: var(--themeColor);
}

#title {
    font-size: 30px;
    margin-left: 25px;
    color: var(--white);
}

#heading {
    position: absolute;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    top: 30px;
    left: 50px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    position: absolute;
    top: 100px;
    height: 75px;
    width: 600px;
    border-radius: 25px;
    border-style: none;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#header-container {
    display: flex;
    justify-content: center;
}
#work {
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
    border-style: none;
    background-color: transparent;
    color: var(--font);
    border-radius: 15px;
    width: 140px;
    height: 50px;
}

#work:hover {
    color: var(--white) !important;
}



#work {
    box-shadow: 7.5px 7.5px 10px #202020;
    background-color: #353535 !important;
}

#themes {
    position: absolute;
    border-radius: 15px;
    border-style: none;
    background-color: var(--background2);
    margin: 0 auto;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    right: 22.5px;
    bottom: 85px;
    align-items: center;
    box-shadow: 5px 5px #202020;
}



.themeIcon {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.fa-palette {
    position: absolute;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 5px;
}

.fa-palette:hover {
    color: var(--white) !important;
}

.fa-droplet {
    margin: 20px;
    cursor: pointer;
}

.fa-droplet:hover {
    scale: 2.4 !important;
}

#palette-icon {
    bottom: 30px;
    right: 30px;
}

button:hover {
    cursor: pointer;
    background-color: var(--hover);
}

::selection {
    background: transparent;
}



#github {
    font-family: 'Jetbrains Mono';
    font-weight: bolder;
    height: 20px;
    position: absolute;
    margin-left: 20px;
    bottom: 27.5px;
    color: var(--font);
    cursor: pointer;
    font-size: 17.5px;
    text-decoration: none;
}

#github:hover {
    color: var(--white);
    text-decoration: underline;
}


select:hover {
    color: var(--white);
}



