body {
    background-color: var(--background);
    font-family: 'Dosis', sans-serif;
}

:root {
    --background: #161616;
    --white: #ffffff;
    --gray: #262626;
    --hover: #a3a3a3;
    --background2: #2b2b2b;
    --icon: #616161;
    --font: #4e4e4e;
    --purple: #c134dd;
    --blue: #43aaff;
    --orange: #fd8945;
    --themeColor: #ffffff;
    --yellow: #ffd843;
    --red: #ff4c4c;
    --green: #00d062;
    --white-clicked: #949494;
}

input::selection {
    background: var(--white);
    color: black;
}

.fa-solid {
    scale: 2;
    color: var(--icon);
}

.fa-play:hover,
.fa-gear:hover,
.fa-rotate-left:hover {
    color: var(--white);
}

#main-container {
    display: flex;
    justify-content: center;
}

#list-container {
    background-color: transparent;
    height: auto;
    min-height: 400px;
    width: 500px;
    border-radius: 25px;
    padding-top: 15px;
}

ul {
    list-style-type: none;
    margin-left: -20px;
    user-select: none;
}

li {
    color: var(--white);
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    margin: 20px;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
}

#addItemInput {
    font-size: 25px;
    border: none;
    border-radius: 7.5px;
    background-color: transparent;
    color: var(--white);
    width: 375px;
    padding: 0px !important;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 15px;
    margin-left: 40px;
}

input:focus {
    outline: none !important;
}

#wave {
    scale: 2.5;
    color: var(--themeColor);
}

#title {
    font-size: 30px;
    margin-left: 25px;
    color: var(--white);
}

#heading {
    position: absolute;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    top: 30px;
    left: 40px;
    display: flex;
    align-items: center;
}

#header {
    display: flex;
    height: 75px;
    width: 600px;
    border-radius: 25px;
    border-style: none;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#header-container {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    margin-bottom: 25px;
}

#listHeader {
    display: flex;
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    border-style: none;
    background-color: transparent;
    color: var(--themeColor);
    border-radius: 50px;
    min-width: 50px;
    width: 300px;
    height: 50px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}


#cycleLeft  {   
    background-color: transparent;
    border-style: none;
    margin-right: -50px;
}

#cycleRight {
    background-color: transparent;
    border-style: none;
    margin-left: -50px;
}


.fa-circle-chevron-right {
    color: var(--font);
}

.fa-circle-chevron-right:hover {
    color: var(--white);
    scale: 2.2;
}
.fa-circle-chevron-right:active {
    color: var(--white-clicked);
}


#themes {
    position: absolute;
    border-radius: 15px;
    border-style: none;
    background-color: transparent;
    margin: 0 auto;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    right: 85px;
    bottom: 15px;
    align-items: center;
}

.themeIcon {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.fa-palette {
    position: absolute;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 5px;
}

.fa-palette:hover {
    color: var(--white) !important;
}

#palette-icon {
    bottom: 30px;
    right: 30px;
}

.fa-droplet {
    margin: 20px;
    cursor: pointer;
}

.fa-droplet:hover {
    scale: 2.4 !important;
}


button:hover {
    cursor: pointer;
    background-color: var(--hover);
}

::selection {
    background: transparent;
}

#github {
    height: 20px;
    position: absolute;
    margin-left: 20px;
    bottom: 27.5px;
    color: var(--font);
    cursor: pointer;
    font-size: 17.5px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}

#github:hover {
    color: var(--white);
    text-decoration: underline;
}

select:hover {
    color: var(--white);
}

#deleteButton {
    background-color: transparent;
    scale: 1.4;
    border-radius: 50px;
    border-style: none;
    margin-right: 15px;
    margin-top: 7.5px;
}

.deleteIcon {
    scale: 1.25;
    color: var(--white);
}

.deleteIcon:hover {
    color: var(--white-clicked);
}

.listIndicatorDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline: 140px;
    margin-top: 10px;
    margin-bottom: -10px;
}
  
#listIndicator1, #listIndicator2, #listIndicator3, #listIndicator4, #listIndicator5 {
    width: 50px; /* Adjust the width as needed */
    height: 8px; /* Adjust the height as needed */
    background-color: var(--background2); /* Background color of the pill */
    border-radius: 10px; /* Half of the height to create a rounded shape */
    border-style: none;
}

#listIndicator1:active, #listIndicator2:active, #listIndicator3:active, #listIndicator4:active, #listIndicator5:active {
    background-color: var(--themeColor) !important;
}

#listIndicator1:hover, #listIndicator2:hover, #listIndicator3:hover, #listIndicator4:hover, #listIndicator5:hover {
    scale: 1.1;
    transition-duration: 100ms;
}


@media (max-width: 610px) {
    #header {
        width: 350px;
        margin-top: -50px;
    }
    .listIndicatorDiv {
        padding-inline: 0px;
    }
    #list-container {
        width: 400px;
    }
    #addItemInput {
        width: 200px;
    }
    #listIndicator1, #listIndicator2, #listIndicator3, #listIndicator4, #listIndicator5 {
        height: 10px;
    }
    #heading {
        margin-top: -15px;
        margin-left: -10px;
    }
    #deleteButton {
        scale: 1.75;
        margin-top: 5px;
    }
    #cycleLeft, #cycleRight {
        scale: 1.35;
    }
}

@media (max-width: 670px) {
    #themes {
        position: absolute;
        border-radius: 15px;
        border-style: none;
        background-color: transparent;
        margin: 0 auto;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 22.5px;
        bottom: 90px;
        align-items: center;
        height: 300px;
    }
    .fa-droplet {
        scale: 1.6;
        margin: 15px;
    }
}